PADDLE_ENV=sandbox
PADDLE_CLIENT_TOKEN=
PADDLE_STARTER_MONTH_PRICE_ID=pri_01kz7kt1s57xrvatbegwnsm718
PADDLE_STARTER_YEAR_PRICE_ID=pri_01kz7kvg3cc0jpm6nrmg0j9xe3
PADDLE_PRO_MONTH_PRICE_ID=pri_01kz7kxrn7dz4skb1f6p8caa6e
PADDLE_PRO_YEAR_PRICE_ID=pri_01kz7kyddv7qrfh79mwsqgdx1d
